.container {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}
.cell {
  border: 0.5px solid black;
}
.snakeStyle {
  background-color: yellow;
}
.food {
  background-color: pink;
  border-radius: 50%;
}
